<table class="table">
	<tr>
		<th></th>
		<th>lines</th>
		<th>words</th>
		<th>characters</th>
	</tr>
	<tr>
		<td>Count</td>
		<td>{{linecount}}</td>
		<td>{{wordcount}}</td>
		<td>{{charcount}}</td>
	</tr>
</table>